html, body {
    height: 100%; /*外層高度100%*/
    margin: 0;
}
.wrapper {
    min-height: 100%; /*外層高度100%*/
    margin-bottom: -50px; /*隨footer高度需做調整*/
}
.contant{
    padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}
.navbartop{
    height: 30px;
    background-color: rgba(203, 203, 203, 0.45);
}
.navbar{
    height: 62px;
}
.navbar *, .navbartop *{
    display: inline;
}
.nav_content_center >ul{
    display: flex;
    align-items: center;
}
.navtop_li_padding > li{
    padding: 0px 0.5em;
}
.nav_li_padding > li{
    padding: 0px 2.5em;
}
.nav_li>a{
    color: rgb(14, 211, 135);
    text-decoration:none;
}
.nav_li>a:hover{
    color: rgb(161, 223, 199);
}
.underline{
    display: block;
    transform:translate(0px, 17px);
    height: 3px;
    width: 100%;
    background-color: rgb(14, 211, 135);
}
.frontIMG{
  position: relative;
  z-index:10;
  display: flex;
  justify-content: center;            
  align-items: center;   
}
.frontWord-bg{
    width: 100%;
    height: 15vw;
    position: absolute;
    z-index:11;
    background-color: black;
    opacity: 0.1;
}
.frontWord{
    position: absolute;
    z-index:12;
    left: 0%;
    text-align: left;
    color: white;
    padding: 4%;
    font-size: 4em;
    font-weight: 400;
}
.contentblock{
    text-align: center;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1_ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.block1_ul > li{
    display: inline;
}
.card {
    width: 70%;
    height: 300px;
    margin: 3%;
    padding: 40px 20px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card p{
    text-align: left;
}
.cardimg{
    height: 100px;
}
.jqueryul>li{
    padding: 0px;
    text-align: left;
    line-height: 10px;
}
td{
    width: 20vw;
    height: 30px;
    text-align: left;
    font-size: 1.25em;
    padding-left: 3%;
}
tbody td{
    font-weight: 300;
}

.td_last{
    width: 15%;
}
#block3{
    background-color: green;
}

.footer{
    height: 50px; /*設定footer本身高度*/
}


