body{
    background-color: #f5eae7;
}
.content {
    padding: 5vh;
    display: grid;
    justify-items: center;
    align-items: center;
}
.slogan{
    padding-bottom: 20px;
    display: grid;
    justify-items: center;
}
.slogan h1{
    font-size: 2rem;    
    font-weight: 600;
    
}
.login {
    margin: auto;
    padding: 60px 60px;
    background-color: #EFE9E7;
    border-radius: 10px;
    box-shadow: 0px 30px 60px -5px #000;
    display: grid;
}

.login form {
    padding-top: 80px;
    display: grid;
    justify-items: center;
}

.active {
    border-bottom: 2px solid #1161ed;
}

.nonactive {
    color: rgba(0, 0, 0, 0.2);
}

.content h2 {
    justify-self: center;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

.content span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}

.text {
    border: none;
    width: 90%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    justify-self: center;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(53, 53, 53, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus+span {
    opacity: 0.6;
}


.custom-checkbox {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 6px;
}

.content label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}