/*---------------------------------------- block 1 ----------------------------------------*/
#block1 {
    background-color: #EFE9E7;
    padding: 50px 0;
    display: grid;
}

.block1_title {
    justify-self: center;
    display: flex;
}

.block1_title>h1 {
    display: inline-block;
    color: #3D1101;

    padding: 0 1rem;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

.block1_title_line {
    align-self: center;
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #3D1101;
}

.block1_feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.block1_card {
    display: grid;
    justify-items: center;
    padding: 10%;
}

.block1_img {
    width: 80%;
    border-radius: 1000px;
}

.block1_card_header {
    height: 1.5rem;
    padding: 1rem 0;
    color: #3D1101;
}

.block1_card_header>h1 {
    font-size: 1.5rem;
}

.block1_card_body {
    /* display: none; */
    height: 10rem;
    font-size: 1.25rem;
    color: #3D1101;
}

@media screen and (max-width: 768px) {
    .block1_title {
        margin-bottom: 50px;
    }

    .block1_title>h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }

    .block1_title_line {
        display: none;
    }

    .block1_feature {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .block1_card {
        padding: 0 10%;
    }

    .block1_img {
        width: 80%;
        border-radius: 1000px;
    }

    .block1_card_header>h1 {
        font-size: 1.25rem;
        line-height: 1rem;
    }

    .block1_card_body {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

/*---------------------------------------- block 2 ----------------------------------------*/
#block2 {
    background-color: #3D1101;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block2_img_frame {
    max-width: 470px;
    max-height: 100%;
    justify-self: end;
    overflow: hidden;
}

.block2_img {
    height: 100%;
}

.block2_content {
    padding: 10% 25px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.3rem;
}

.block2_content_title {
    font-size: 1.25rem;
}

.block2_content_text {
    margin-top: 5%;
    margin-right: 20%;
}

@media screen and (max-width: 768px) {
    #block2 {
        grid-template-columns: 1fr;
    }

    .block2_img_frame {
        justify-self: center;
        width: 100%;
    }

    .block2_img {
        width: 100%;
    }

    .block2_content {
        padding: 8% 10%;
    }

    .block2_content_title {
        margin-top: 5%;
    }

    .block2_content_text {
        margin-right: 0;
    }
}

/*---------------------------------------- block 3 ----------------------------------------*/
#block3 {
    background-color: #EFE9E7;
    padding: 50px 0;
    display: grid;
}

.block3_title {
    justify-self: center;
}

.block3_title>h1 {
    color: #3D1101;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

.block3_feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5%;
}

.block3_card {
    display: grid;
    /* justify-items: center; */
    padding: 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.block3_img {
    border-radius: 1000px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    align-self: center;
}

.block3_card_header {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.block3_card_header>h1 {
    display: flex;
    align-self: center;
    margin-left: 5%;
    color: #3D1101;
}

.block3_card_body {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    line-height: 1.5rem;
    margin-left: 5%;
    color: #3D1101;
}

.block3_card_footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: end;
    color: #3D1101;
}

@media screen and (max-width: 768px) {
    .block3_feature {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

/*---------------------------------------- block 4 ----------------------------------------*/
#block_4 {
    background-color: #F6F4F3;
    padding: 50px 0;
    display: grid;
}

.block4_title {
    justify-self: center;
}

.block4_title>h1 {
    color: #3D1101;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

.block4_content {
    padding: 0 5%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.block4_img {
    width: 100%;
}

#block4_form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 3%;
}

.block4_inputbox {
    display: flex;
    flex-direction: column;
    color: #3D1101;
}

.block4_inputbox input[type="text"],
.block4_inputbox input[type="email"],
.block4_inputbox input[type="number"],
.block4_inputbox input[type="tel"],
.block4_radio {
    margin-top: 2%;
    height: 100%;
    border-style: solid;
    border-color: #D2D2D2;
    border-width: 1px;
    border-radius: 4px;
}

.block4_radio {
    border-style: none;
}

.block4_inputbox span input {
    margin-right: 8%;
}

#block4_btnblock {
    display: flex;
    justify-content: end;
    align-items: end;
}

#block4_btn_cancel,
#block4_btn_submit {
    height: 32px;
    width: 70px;
    margin-right: 11px;
    border-style: none;
    border-radius: 4px;
    color: #ffffff;
}

#block4_btn_cancel {
    background-color: #A09E9E;
}

#block4_btn_submit {
    background-color: #F56B22;
}

@media screen and (max-width: 768px) {
    .block4_content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
}