body {
    background-color: #f5eae7;
}

main {
    padding: 25px 10px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

#sidebar {
    float: left;
    width: 150px;
    color: #4284f3;
    will-change: min-height;
}

#sidebar .sidebar__inner {
    border-left: 3px solid #4284f3;
    padding: 5px 15px;
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

#content {
    /* padding: 13px 20px 50px 0; */
    margin-left: 165px;
    min-height: auto;
    color: #333333;
    line-height: 1.6;
}

.menu_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.menu_card {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 100%;
    box-shadow: 2px 2px 5px #0000002d;
}

.menu_card_img>img {
    width: 100%;
}

.menu_card_subtitle {
    line-height: 1rem;
}

.menu_card_btn {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: rgb(255, 68, 0);
    color: rgb(255, 68, 0);
    border-radius: 4px;
    cursor: pointer;
}

.menu_card_btn:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #content{
        margin: auto;
        padding: 20px;
    }
    .menu_list {
        margin: auto;
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
    }
}