/*---------------------------------------- header_img ----------------------------------------*/
.front_page {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.front_page:before {
    content: "";
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: black;
    /* max-width: 40%; */
    /* width: calc(var(--font-size)*60);
    height: calc(var(--font-size)*15); */
    opacity: 0.3;
}

.header_desktop_img {
    display: block;
    width: 100vw;
}

.header_mobile_img {
    display: none;
}

.front_page_text {
    position: absolute;
    color: #ffffff;
    text-align: center;
}

.front_page_title {
    font-size: 4rem;
    padding: 1rem;
}

.front_page_content {
    font-size: 2rem;
    padding: 1rem;
}

.mobile_br {
    display: none;
}

@media screen and (max-width: 676px) {
    .front_page_title {
        font-size: 2.5rem;
        padding: 16px;
    }

    .mobile_br {
        display: block;
    }

    .front_page_content {
        font-size: 1.5rem;
    }

    .header_desktop_img {
        display: none;
    }

    .header_img {
        /* width: 100vw; */
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .header_mobile_img {
        display: block;
        height: 60vh;
    }
}

/*---------------------------------------- block 1 ----------------------------------------*/
#block_1 {
    background-color: #EFE9E7;
    padding: 50px 0;
    display: grid;
}

.block_1_title {
    justify-self: center;
    display: flex;
}

.block_1_title>h1 {
    display: inline-block;
    color: #3D1101;

    padding: 0 1rem;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

.block_1_title_line {
    align-self: center;
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #3D1101;
}

.block_1_feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.block_1_card {
    display: grid;
    justify-items: center;
    padding: 10%;
}

.block1_img {
    width: 80%;
    border-radius: 1000px;
}

.block1_card_header {
    height: 1.5rem;
    padding: 1rem 0;
    color: #3D1101;
}

.block1_card_header>h1 {
    font-size: 1.5rem;
}

.block1_card_body {
    /* display: none; */
    height: 10rem;
    font-size: 1.25rem;
    color: #3D1101;
}

@media screen and (max-width: 768px) {
    .block_1_title {
        margin-bottom: 50px;
    }

    .block_1_title>h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }

    .block_1_title_line {
        display: none;
    }

    .block_1_feature {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .block_1_card {
        padding: 0 10%;
    }

    .block1_img {
        width: 80%;
        border-radius: 1000px;
    }

    .block1_card_header>h1 {
        font-size: 1.25rem;
        line-height: 1rem;
    }

    .block1_card_body {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

/*---------------------------------------- block 2 ----------------------------------------*/
#block_2 {
    background-color: #3D1101;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block_2_img_frame {
    max-width: 470px;
    max-height: 100%;
    justify-self: end;
    overflow: hidden;
}

.block_2_img {
    height: 100%;
}

.block_2_content {
    padding: 10% 25px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.3rem;
}

.block_2_content_title {
    font-size: 1.25rem;
}

.block_2_content_text {
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    #block_2 {
        grid-template-columns: 1fr;
    }

    .block_2_img_frame {
        justify-self: center;
        width: 100%;
    }

    .block_2_img {
        width: 100%;
    }

    .block_2_content {
        padding: 8% 10%;
    }

    .block_2_content_title {
        margin-top: 5%;
    }
}

/*---------------------------------------- block 2 ----------------------------------------*/
#block_3 {
    height: 50vw;
}