/*---------------------------------------- header_img ----------------------------------------*/
.front_page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_page:before{
    content: "";
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: black;
    /* max-width: 40%; */
    /* width: calc(var(--font-size)*60);
    height: calc(var(--font-size)*15); */
    opacity: 0.3;
}

.header_desktop_img{
    display: block;
    width: 100vw;
}

.header_mobile_img{
    display: none;
}

.front_page_text{
    position: absolute;
    color: #ffffff;
    text-align: center;
}

.front_page_title{
    font-size: 2rem;
    padding: 16px;
}
.mobile_br{
    display: none;
}

@media screen and (max-width: 676px) {
    .front_page_title{
        font-size: 2.5rem;
        padding: 16px;
    }
    .mobile_br{
        display: block;
    }
    .front_page_content{
        font-size: 1.5rem;
    }
    .header_desktop_img{
        display: none;
    }
    .header_img{
        /* width: 100vw; */
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .header_mobile_img{
        display: block;
        height: 60vh;
    }
}

/*---------------------------------------- block 1 ----------------------------------------*/
#block_1{
    background-color: #EFE9E7;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5vw;
}

.block_1_card {
    display: grid;
    justify-items: center;
    padding:20px;
}
.block1_img{
    width: 100%;
    border-radius: 1000px;
}
.block1_card_header{
    padding: 1rem;
    color: #3D1101;
}

.block1_card_body{
    color: #3D1101;
}

@media screen and (max-width: 480px) {
    #block_1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .block1_img{
        width: 80%;
        border-radius: 1000px;
    }
}

/*---------------------------------------- block 2 ----------------------------------------*/

#block_2{
    background-color: #3D1101;
}
.block_2_img{
    width: 100%;
}




